[Adblock Plus 2.0]
! Title: MalwareWarden - Annoyances
! Last modified: %timestamp%
! Expires: 6 hours

%include malwarewarden:annoyances/instagram.filter%
%include malwarewarden:annoyances/twitter.filter%
