[Adblock Plus 2.0]
! Title: MalwareWarden - Annoyances
! Last modified: %timestamp%
! Expires: 6 hours

%include malwarewarden:annoyances/chat.google.com.filter%
%include malwarewarden:annoyances/instagram.com.filter%
%include malwarewarden:annoyances/twitter.com.filter%
%include malwarewarden:annoyances/x.com.filter%